@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #6C6B6C !important;
  color: white !important;
}

.nav-link {
  color: white !important;
}

.navbar-brand {
  float: left;
  font-size: 1.7em;
  color: white !important;
  text-transform: uppercase;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('plush.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

html {
   position: relative;
   min-height: 100%;
 }
 body {
   margin-bottom: 60px; /* Margin bottom by footer height / } .footer {   position: absolute;   bottom: 0;   width: 100%;   height: 60px; / Set the fixed height of the footer here /   line-height: 60px; / Vertically center the text there */
 }

.listing {
  list-style: none;
}
 .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 60px; /* Set the fixed height of the footer here */
   line-height: 60px; /* Vertically center the text there */
   background-color: #6C6B6C;
   color: white !important;
 }
